body {
    background: #010004 center repeat-y url(../image/main-bg.png);
}

.navbar {
    margin-bottom: 0;
}

.chip-bg {
    background: url(../image/bg.jpg) repeat;
    padding: 1em 0;
    margin: 0 0 1em;
}

.caro img {
    height: 500px !important;
    width: 1140px !important;
}

.navbar-brand.navbar-brand {
    height: auto;
    padding: 0;
}

.navbar-brand img {
    height: 100px !important;
}

.navbar {

}

#carousel-featured img {
    height: 500px;
}

.hover-up, .hover-down {
    cursor: pointer;
    display: none;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}